 /*
    style.css: Defines some additional styling, in particular the 
    alignment of the page list and the view/edit area.
*/

<style>
    html{
        overflow-y:scroll;
    }
    
    body{
        padding-top:50px;
    }

    .strike{
        text-decoration: line-through;
    }

    #page-list{
        float:left;
        overflow:hidden;
        content:none;
    } 
    
    #pageshowing{
        display: inline;
        float: right;
        overflow:hidden;
        top: 50;
        left: 300;
        list-style: none;
    }
    .header{
        margin-left: 0px;
        margin-right: 
    }

    .specialjum{
        margin-top: 50px;
        padding-left:0;
        padding-right:0;
        background-color: #cccccc;
    }
    
    *:before {
        content: none;
    }


.btn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 3px #ffffff;
  -moz-box-shadow: 0px 1px 3px #ffffff;
  box-shadow: 0px 1px 3px #ffffff;
  font-family: Arial;
  color: #000000;
  font-size: 21px;
  background: #ecf0f1;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.btn:hover {
  background: #e3e3e3;
  text-decoration: none;
}
</style>