 /*
    style.css: Defines some additional styling, in particular the 
    alignment of the page list and the view/edit area.
*/

<style>
    html{
        overflow-y:scroll;
    }
    
    body{
        padding-top:50px;
    }

    .strike{
        text-decoration: line-through;
    }

    #page-list{
        float:left;
        overflow:hidden;
        content:none;
    } 
    
    #pageshowing{
        display: inline;
        float: right;
        overflow:hidden;
        top: 50;
        left: 300;
        list-style: none;
    }
    .header{
        margin-left: 0px;
        margin-right: 
    }

    .specialjum{
        margin-top: 50px;
        padding-left:0;
        padding-right:0;
        background-color: #cccccc;
    }
    
    *:before {
        content: none;
    }

</style>